.card-header {
    cursor: pointer;
}

.plus-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

.collapse-content {
    transition: max-height 0.3s ease-out;
}

/* for quotes */
.carousel-item {
    height: 200px;
    /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 1.25rem;
    /* Adjust font size as needed */
    font-style: italic;
    text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}



/* for status buttons */
